{% extends "base.html" %}

{% block content %}
<div class="container">
  <section>
    
    <div>
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Share Secret</a>
          {% if shareme == 'yes' %}
          <a class="nav-item nav-link" id="nav-shareme-tab" data-toggle="tab" href="#nav-shareme" role="tab" aria-controls="nav-shareme" aria-selected="false">Ask to Share Secret with you</a>
          {% endif %}
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <div class="row">
            <form role="form" id="password_create" method="post">
              <div class="col-sm-4 margin-bottom-10">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                  <textarea rows="10" cols="80" type="password" id="password" name="password" autofocus="true" class="form-control" placeholder="" aria-describedby="basic-addon1" autocomplete="off"></textarea>
                </div>

              </div>

              <div class="col-sm-4 margin-bottom-10">
                <select class="form-control" name="ttl">
                  {% for entry in time_list %}
                  <option value="{{ entry['id'] }}">{{ entry['label'] }}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="col-sm-4">
                <button type="submit" class="btn btn-primary" id="submit">Generate URL</button>
              </div>
            </form>
          </div>
        </div>
          {% if shareme == 'yes' %}
            <div class="tab-pane fade" id="nav-shareme" role="tabpanel" aria-labelledby="nav-shareme-tab">
            {% include "share_url.html" %}
            </div>
          {% endif %}
        
      </div>
    </div>
	</section>
</div>

{% endblock %}

{% block js %}
{% endblock %}
