{% extends "base.html" %}

{% block content %}
<div class="container">
  <section>
    <div class="page-header"><h1>Ask to Share Secret with you</h1></div>
    <div class="row">
      <form role="form" id="password_create" method="post">
        <div class="col-sm-10 margin-bottom-10">
          <select class="form-control" name="ttl">
            <option value="5min">5 min</option>
            <option value="10min">10 min</option>
            <option value="30min">30 min</option>
            <option value="60min">60 min</option>
          </select>
        </div>

        <div class="col-sm-4">
          <button type="submit" class="btn btn-primary" id="submit">Generate URL</button>
        </div>
      </form>
    </div>
  </section>
</div>
{% endblock %}

{% block js %}
{% endblock %}
